
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="header_logo" src="{{ asset('images/CarPP_logo.png') }}">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample03" style="">

            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'homepage'%}active{% endif %}" aria-current="page" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'news'%}active{% endif %}" aria-current="page" href="#">Nieuws</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'fishing_session_collection'%}active{% endif %}" aria-current="page" href="#">Sessies</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if app.request.get('_route') == 'wateren_page'%}active{% endif %}" id="navbarDropdownMenuLink" aria-current="page" role="button" data-bs-toggle="dropdown" href="{{ path('wateren_page') }}">Wateren</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('wateren_page') }}">Wateren</a></li>
                        <li><a class="dropdown-item" href="{{ path('wateren_page_edit', {id: 0}) }}">Water toevoegen</a></li>
                        <li><a class="dropdown-item" href="#">Water statistieken</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if app.request.get('_route') == 'caught_fish_page'%}active{% endif %}" id="navbarDropdownMenuLink" aria-current="page" role="button" data-bs-toggle="dropdown" href="{{ path('caught_fish_page') }}">Vangsten</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('caught_fish_page') }}">Vangsten</a></li>
                        <li><a class="dropdown-item" href="{{ path('caught_fish_page_edit', {id: 0}) }}">Vangst toevoegen</a></li>
                        <li><a class="dropdown-item" href="#">Vangsten statistieken</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'profile'%}active{% endif %}"
                       aria-current="page"
                       href="{{ path('profile') }}">Mijn profiel
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="btn_container_group float-right">
                {% if app.user %}
                    <a href="{{ path('logout_page') }}" class="btn btn-warning" style="padding-left: 2.5rem; padding-right: 2.5rem;">Logout</a>
                {% else %}
                    <a href = '{{ path('signup_page') }}'class="btn btn-light">Signup</a>
                    <a href = '{{ path('login_page') }}' class="btn btn-warning">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
