{% include 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-3">
        <div class="row justify-content-around">
            {% for water in wateren %}
                <div class="mt-3 mb-3 card image_water_container" style="width: 18rem;">
                     <span class="caught_fish_counter">
                                   <i class="fas fa-solid fa-fish"></i>
                                   3
                               </span>
                    <img src="{{ asset('images/fishing_water/' ~ water.image ) }}" class="card-img-top" alt="Water">
                    <div class="card-body">
                        <h5 class="card-title">{{ water.name }}</h5>
                        <p class="card-text">{{ water.type }} - {{ water.size }}(Ha)</p>
                        <a class="info_icon_water_overview_page" href="{{ path('wateren_page_edit',{id: water.id}) }}">
                            <i class="fas fa-solid fa-pen"></i>
                        </a>
                        <a class="edit_icon_water_detail_page" href="{{ path('wateren_detail_page',{id: water.id}) }}">
                            <i class="fas fa-solid fa-info "></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}